/* Общие стили */
* {
    font-family: sans-serif;
    color: black
}

html, body {
    background: url('./media/background.jpg') no-repeat center center fixed; /* Путь к фоновому изображению */
    background-size: cover;
    padding: 0;
    margin: 0;
}

input[type="radio"] {
    cursor: pointer;
}

input[type="text"]:focus {
    outline: none;
}

.header {
    font-size: 16px;
    text-align: center;
    color: white;
    background-color: rgba(127, 144, 133, 0.5);
}

.header-container {
    display: grid;
    grid-template-columns: minmax(max-content, 2fr) 6fr minmax(max-content, 1fr);
    line-height: 55px;
    height: 55px;
    width: calc(100% - 40px);
    margin: auto;

}


.main {
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: calc(100vh - 55px);
    width: 100vw;
}



.main__left-column {
    display: grid;
    grid-template-rows: max-content max-content auto;
}


.main__block {
    margin: 15px 15px 0 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.6),
    0 0 10px rgba(0, 255, 255, 0.6),
    0 0 15px rgba(0, 255, 255, 0.8);
    transition: box-shadow 0.3s ease;
}

.main__block:hover {
    box-shadow: 0 0 10px rgba(0, 255, 255, 1),
    0 0 20px rgba(0, 255, 255, 1),
    0 0 30px rgba(0, 255, 255, 1);
}

.main__block .row {
    margin: 13px auto;
    width: fit-content;
}

.main__block .row > * {
    display: inline-block;
}

/* Canvas */
canvas {
    display: block;
    height: 500px;
    width: 500px;
    margin: 0 auto;
}

#y-input {
    height: 18px;
    width: 323px;
    text-indent: 3px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
    outline: none;
}

.submit_button {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.submit_button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.submit_button:active {
    background-color: rgba(255, 255, 255, 0.6);
}
.clear_button {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px
}
.clear_button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.clear_button:active {
    background-color: rgba(255, 255, 255, 0.6);
}

table {
    margin: 15px 15px 0 0;
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

th, td {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

th {
    background-color: rgba(127, 144, 133, 0.4);
    border-radius: 5px;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.2);
}

tbody tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.1);
}
.toast {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    font-size: 17px;
    opacity: 0;
    transition: opacity 0.5s, visibility 0.5s;
}

.toast.show {
    visibility: visible;
    opacity: 1;
}